<div class="row">
  <div class="col-12">
    <button class="btn btn-secondary text-capitalize" routerLink="/recipes/new">new recipe</button>
    <button class="btn btn-success text-capitalize" (click)="onSaveRecipes()" *ngIf="recipes.length !== 0">save recipes</button>
    <button class="btn btn-info text-capitalize" (click)="onFetchRecipes()">load recipes</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <app-loading-animation *ngIf="recipesLoading"></app-loading-animation>
    <div class="list-group" *ngIf="!recipesLoading">
      <app-recipe-item *ngFor="let recipeSle of recipes; let id = index" [recipe]="recipeSle" [recipeId]="id"></app-recipe-item>
    </div>
  </div>
</div>
