<div class="register">
  <div class="overlay h-100">
    <div class="containter h-100">
      <div class="row no-gutters h-100">
        <div class="col-lg-6 col-md-12 h-100">
          <div class="row justify-content-around align-items-center h-100 no-gutters">
            <div class="col-8 text-center text-white">
              <h1 class="text-uppercase mt-2 mb-5">angular recipe book</h1>
              <p class="">Do you want to be a recipe pro ? Want to oraganize your recipes and their ingredients ? this
                is app is built with angular just is what you want . <br> please login to unleash the app capabilities
                .</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 h-100">
          <div class="row justify-content-around align-items-center h-100">
            <div class="col-8 router-countainer">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
