:host {
  display: block;
}
.register{
  height: 700px;
  background: url('../../assets/images/login-bg-lg.png') center center fixed;
  background-size: cover;
}
.overlay{
  background: rgba(0,0,0,.6);
}
.router-countainer{
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: -1px -1px 40px 5px #aaa;
}