<div class="row">
  <div class="col-12">
    <form #addIngForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            type="text" 
            class="form-control" 
            name="ingName" 
            placeholder="Ingredient name"
            #nameInput
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
            type="number"
            min="1"
            class="form-control"
            name="ingAmount"
            placeholder="amount"
            #amountInput
            required
            ngModel>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success" [disabled]="!addIngForm.valid">{{editMode ? 'update' : 'Add'}}</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
